* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  
  /* SCROLL HORIZONTAL */
}

#imgLogo {
  border-radius: 30px;
}


/* - Categorias sujeto a modificaciones . Inicio - */
/* 
nav{
  margin: 0 20px;
  width: 100%;
  justify-content: center !important;
}
.navbar-collapse{
  justify-content: center;
}
.nav-active{
  color: black !important;
  text-shadow: 0px 0px 3px rgb(252, 103, 105);
} */

/*.nav-link {
   font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;  
   font-family: fantasy; 
   font-family: 'Fugaz One', cursive; 
}*/

/* .navbar-toggler {
  z-index: 20;
} */

@media screen and (max-width: 991px) {

  #cart-desktop,
  .dropbox-footer {
    display: none;
  }

  .foot {
    width: 100%;
  }

  footer {
    flex-direction: column;
  };
}

@media screen and (min-width: 992px) {
  #cart-mobile {
    display: none;
  }

  .foot {
    width: 20%;
    height: 300px;
  }

  .dropdown {
    display: none;
  }

  address {
    margin-top: 30%;
  }
}

/* - Categorias sujeto a modificaciones . Fin - */


.carousel-inner {
color: black;
text-align: center;

}
h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-left: 50px;
}

p,h3 {
  color: black;
  font-size: xx-large; 
  font-family: Arial, Helvetica, sans-serif;
}

p .Tachado {
  text-decoration: line-through;
  margin-left: 10px;
}


/* - footer - */

footer {
  background: rgb(252, 103, 105);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

.foot {
  padding-top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.foot ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.foot ul li {
  text-align: start;
}

.foot ul a {
  text-decoration: none;
  color: rgb(63, 59, 59);
}

.foot ul a:hover {
  color: white;
}

.foot ul a:active {
  color: blue;
}

.foot3 {
  padding: 25px;
  text-align: start;
}

.foot3 ul {
  display: flex;
  justify-content: space-evenly;
}

.foot3 ul li {
  margin: 10px;
  float: left;
}

/* #foo{
  display: inline-flex;
  padding: 20px;
}
#foo li{
  list-style: none;
  padding: 15px;
} */

/* NAVBAR ERIKA */
.navbar {
  border-bottom: 2px solid #f86462;
}

.text-decoration-none {
  text-decoration: none !important;
}

.bg-dark-custom {
  background-color: #100f0d !important;
}

.fa {
  font-size: 22px;
}

.fa.fa-user {
  color: #FFF;
}

.fa.fa-heart {
  color: #fc6769;
}

.fa.fa-shopping-cart {
  color: #FFF;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  border-bottom: 4px solid #beab35;
}

#products{
border-style: none;
flex-flow: row wrap;
width: 100%;
<<<<<<< Updated upstream
justify-content: center;
=======
justify-content: space-around;
>>>>>>> Stashed changes
}

img{
  width: 100%;
  height: 100%;
  margin-top: 10px; 
}

#carrito{
  margin-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: wrap;
  /*margin-left: 50px;*/
  justify-content:space-around;
}

.card-body{
border-style: none;
font-weight:600;
padding-bottom: 10px;
}

.card img{
  object-fit: cover;
}

.card-text{
  font-size: 16px;
  text-align: center;
}

#mediosPago{
 width: 80%;
 margin-left: 10%;
 margin-top: 20px;
 margin-bottom: 20px;
}

.img-thumbnail{
  width: 300px;
  height: 200px;
}

h4{
  margin-left: 50px;
  margin-top: 20px;
}


input{
  margin-bottom: 5px;
  background-color: white;
  margin-bottom: 10px;
}

#MostrarTotal{
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}


#btnComprar,
#btnVaciar{
  margin-left: 8%;
  width: 20%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
}

#formulario{
display: flex;
flex-direction: column;
}

#PrecioTotal{
  background-color: white;
  border-style: none;
}

#botones{
  display: flex;
}
