#imgLogo{
  border-radius: 30px;
}

nav{
  border-bottom: 4px solid black;
  margin-bottom: 10px;
}

.navbar-collapse{
  justify-content: center;
}

li .nav-active{
  color: black;
  text-shadow: 0px 0px 3px rgb(252, 103, 105);
}

.nav-link{
  /* font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;  */
  /* font-family: fantasy; */
  font-family: 'Fugaz One', cursive;
}

.navbar-toggler{
  z-index: 20;
}

li .cart-desktop{
  text-align: right;
}

main img{
  max-height: 50vh;
  object-fit: cover;
}

.carousel-inner {
color: black;
text-align: center;

}
h2 {
  text-align: center;
}

p,h3 {
  color: black;
  font-size: xx-large; 
  font-family: Arial, Helvetica, sans-serif;
}

p .Tachado {
  text-decoration: line-through;
  margin-left: 10px;
}

.cards{
  margin-top: 10px;
}

.col .card{
  height: 500px;
}

.card img{
  height: 348px;
  object-fit: cover;
}

.card-img-top{
  transition: transform .3s;
  border-radius: 10px;
}

.card-img-top:hover{
  transform: scale(1.01); 
}/*Agrego efecto css de aumento de la imagen al pasar el mouse, ver si les gusta*/

footer{
  background: rgb(252, 103, 105);
  display: wrap;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 20px;
}

.foot{ 
  padding-top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.foot ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.foot ul li{
  text-align: start;
}

.foot ul a{
  text-decoration: none;
  color: rgb(63, 59, 59);
}

.foot ul a:hover{
  color: white;
}

.foot ul a:active{
  color: blue;
}

.foot3{
  padding: 25px;
  text-align: start;
}

.foot3 ul{
  display: flex;
  justify-content: space-evenly;
}

.foot3 ul li{
  margin: 10px;
  float: left;
}

@media screen and (min-width: 500px){
  footer{
    display: flex;
  }
}
